html, body
  height 100%
  min-height 100%
  margin 0
  h2
    text-align center
  .board 
    margin 2em
    -webkit-display flex
    -moz-display flex
    -ms-display flex
    -o-display flex
    display flex
    -webkit-justify-content center
    -moz-justify-content center
    -ms-justify-content center
    -o-justify-content center
    justify-content center
    #p1-grid-table
      background blue
      border 2px solid gold  
      td
        height 3em
        width 3em
        border 1px solid silver
        text-align center